<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Careers.DiversityInclusion"/>
      <class name="About.Test1"/>
      <class name="Contact.ContactTab"/>
      <class name="Services.ServicesTab"/>
      <class name="Technology.Technologytab"/>
      <class name="About.LeadershipTab"/>
      <class name="About.ModeGlobalNewsTab"/>
      <class name="Services.Intermodal"/>
      <class name="Home.HomeTab"/>
      <class name="Services.TruckLoad"/>
      <class name="Careers.CareersTab"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
